.btn {
	color: #ffffff;
	background-color: #000000;
}

table {
	border-collapse: collapse;
}

td, th {
   	border: 1px solid black;
}

body {
	margin: 10px;
	background-color: #e3e3e3;
}
